body{
    background-color: rgb(7, 236, 15);
  }
  h1{
      margin-top: 30px;
      color: green;
      font-size: 4rem;
      text-align: center;
      background-color: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
  }
    /*Play now button */
    .button1{
      border: none;
      color: rgb(71, 241, 25);
      padding: 20px 200px;
      text-align: center;
      text-decoration: none;
      
      font-size: 70px;
      background-color: #000000;
      margin: 450px 325px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      /* hover over feature */
      cursor: pointer;
      position: absolute;
      top:420px;
      left: 90px;
            
    }
    .jets{
      position: absolute;
      left:100px;
      
    }
